.main-navbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
}

.main-navbar-button {
  background: rgba(239, 58, 31, 0.8);
  border: none;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  min-width: 16rem;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-left: 0.5rem;
}

.main-navbar-title {
  font-weight: regular;
  font-size: 2.2rem;
  margin: 0px;
  color: white;
}

.main-navbar-subtitle {
  font-weight: 200;
  font-size: 1rem;
  margin: 0px;
  margin-bottom: 1.5rem;
  color: white;
}

.main-navbar-menu-item {
  position: relative;
}

.main-navbar-menu-item:hover .main-navbar-dropdown {
  display: block;
  color: white;
  text-decoration: none;
}

.main-navbar-button:hover {
  background: rgba(239, 58, 31, 1);
}

.main-navbar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0px 1rem;
}

.hidden {
  display: none;
}
