.main-navbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
}

.main-navbar-button {
  background: rgba(239, 58, 31, 0.8);
  border: none;
  padding: 0.5rem 4rem;
  min-width: 6rem;
  border-radius: 1rem 1rem 0px 0px;
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  color: white;
  margin-left: 0.5rem;
}

.main-navbar-dropdown {
  display: none;
  position: absolute;
  right: -4px;
  bottom: 2.5rem;
  width: 100%;
}

.main-navbar-dropdown li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  flex-direction: column;
}

.main-navbar-dropdown li a {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
}

.main-navbar-dropdown li a:hover {
  color: rgba(40, 100, 255, 1);
}

.main-navbar-menu-item {
  position: relative;
}

.main-navbar-menu-item:hover .main-navbar-dropdown {
  display: block;
  color: white;
  text-decoration: none;
}

.main-navbar-button:hover {
  background: rgba(239, 58, 31, 1);
}

.main-navbar-button::after {
  background: white;
  content: "";
  width: 20%;
  height: 0.2rem;
  position: absolute;
  top: 0.3rem;
  left: 40%;
}

.main-navbar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0px 1rem;
}
