.nasa-spot-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.nasa-spot-icon-container {
  display: flex;
  justify-content: flex-end;
  background: rgba(239, 58, 31, 0.8);
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 10rem;
  cursor: pointer;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  z-index: 101;
}

.nasa-spot-icon-container-hide {
  display: flex;
  justify-content: flex-end;
  background: rgba(239, 58, 31, 0.8);
  position: absolute;
  cursor: pointer;
  color: white;
  right: 100%;
  top: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px 0px 0px 10px;
  z-index: 101;
}
