.range-container {
  color: white;
  position: absolute;
  bottom: 1rem;
  width: 30%;
  left: 0;
  z-index: 100;
}

.range-input-container {
  display: flex;
  height: 1rem;
  width: 100%;
}

.range-dates-container {
  padding: 0px 1rem;

  display: flex;
  justify-content: space-between;
}

.range-input-container input {
  margin: 0px 1rem;
  flex: 1;
}

.range-input-container p {
  font-weight: 8px;
}
