body {
  overflow: hidden;
}

.panel {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 58.05%,
    rgba(255, 255, 255, 0.4) 100%
  );
  height: 10rem;
  width: 10rem;
  z-index: 99;
  top: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  height: 100vh;
  width: 30rem;
}

.left {
  left: 5rem;
}

.right {
  right: 5rem;
}
