.space-apps-container {
  position: absolute;
  top: 1rem;
  left: 11rem;
  width: 8rem;
  border-radius: 50%;
  z-index: 100;
}

@media (max-width: 768px) {
  .space-apps-container {
    position: absolute;
    top: 0.75rem;
    left: 7rem;
    width: 16%;
    border-radius: 50%;
    z-index: 100;
  }
}
